@model ArtSite.Model.Picture

@{
    var base64 = Convert.ToBase64String(Model.FileData);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

@*<meta http-equiv="refresh" content="30; URL=http://localhost:8056/art">*@
<meta http-equiv="refresh" content="30; URL=http://192.168.1.44:8055/art">

<div style="text-align: center;">
    <img src="@imgSrc" style="max-height: 1080px; height: auto; max-width: 100%; " alt="FYI, image alt text is required" />
</div>



